@import url('https://fonts.googleapis.com/css?family=Gilda+Display|Lora|Playfair+Display|Playfair+Display+SC');

:root {
    font-family: 'Gilda Display', serif !important;
}

.navbar .navbar-brand {
    color: #FFD700 !important;
    font-family: 'Playfair Display SC', serif !important;
    padding: 20px !important;
    font-size: 20px !important;
}

.navbar ul li a {
    color: #fff !important;
    padding: 20px !important;
    font-family: 'Gilda Display', serif !important;
}

.navbar ul li a:hover {
    background: white;
    color: #000 !important;
    font-weight: bold !important;
}

.navbar .dropdown-item {
    color: #000 !important;
}

.active-link {
    text-decoration: underline !important;
}

.btn-outline-success {
    border-color: #FFD700 !important;
    color: #FFD700;
}

.btn-outline-success:hover {
    background: #FFD700 !important;
    color: #000 !important;
}

.btn-outline-success,
.btn-outline-success:hover {
    font-family: 'Gilda Display', serif !important;
    font-weight: bold;
}

.carousel,
.d-block {
    height: 400px !important;
}

.d-block {
    opacity: 0.6;
}

.carousel-caption {
    text-align: center;
    font-family: 'Gilda Display', serif !important;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bolder !important;
    color: rgba(0, 0, 0, 1);
}

.landing-title {
    text-align: center;
    font-family: 'Gilda Display', serif !important;
    text-decoration: underline;
}

#recent {
    justify-content: center;
    text-align: center;

}

#recent ul li,
.posts ul li {
    list-style: none;
    background: beige;
    margin: 0 auto;
    text-align: left;
    width: 950px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 3px #ccc;
    border-radius: 10px;
}

#about-description {
    margin-top: 25px !important;
    margin: 0 auto;
    width: 700px;
    font-family: 'Lora', serif;
    line-height: 1.5;

}

footer,
#about-description {
    justify-content: center;
    text-align: center;
    bottom: 0;
}